.card-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr); /* Always 5 cards in a row */
  gap: 16px;
  padding: 16px;
  width: 100%;

}

/* Card Styling */
.card {
  text-align: center;
  /* padding: 16px; */
  border: 3px solid;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

/* Text and Button Styling */
.card-text {
  font-weight: bold;
  font-size: 18px;
  /* margin-top: 5px; */
  color: #4299db;
}

.card-title {
  font-weight: bold;
  font-size: 32px;
  /* margin-top: 5px; */

}

.card-btn {
  width: 100%;
  color: white;
  font-weight: bold;
  font-size: 16px;
  border: none;
  padding: 8px;
  cursor: pointer;
  margin-top: 4px;
}

/* Responsive Adjustments */
@media (max-width: 1000px) {
  .card-container {
    grid-template-columns: repeat(5, 1fr);
  }
}

@media (max-width: 750px) {
  .card-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Force desktop layout when "Desktop Site" is enabled */
@media (min-width: 1024px), (orientation: landscape) {
  .card-container {
    grid-template-columns: repeat(5, 1fr) !important;
  }
}
