@tailwind base;
@tailwind components;
@tailwind utilities;


.custom-datepicker {
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 14px;
    width: 180px;
    text-align: center;
  }

  .even-row {
    background-color: #F8F9FA !important; /* Light gray */
  }
  
  .odd-row {
    background-color: white !important;
  }

  .light-blue-row {
    background-color: #F8F9FA !important; /* Light Blue */
  }
  
  .white-row {
    background-color: white !important;
  }


  